[submodule "freertos"]
	path = freertos
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "cores"]
	path = cores
	url = https://github.com/PaulStoffregen/cores.git
[submodule "CMSIS-DAP"]
	path = CMSIS-DAP
	url = https://github.com/ARM-software/CMSIS-DAP
